.Item {
  display: flex;
  align-items: center;
  width: 100%;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  padding: 20px 10px; 
}

.Item-price {
  margin-left: auto;
  padding: 20px 10px 20px 20px;
}

.Item-actions {
  padding: 20px 20px 20px 10px; 
}
