.CartItem {
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px dashed #ccc;
}

.CartItem-code {
    padding: 20px 10px 20px 20px;
}

.CartItem-title {
    padding: 20px 10px; 
}

.CartItem-price {
    margin-left:auto;
    padding: 20px 40px 20px 20px;
    font-size: 18px;
}

.CartItem-quantity {
    padding: 20px 15px 20px 20px;
    font-size: 18px;
}

.CartItem-actions {
    padding: 20px 20px 20px 10px; 
}

.CartItem-btn {
    width: 76px;
}